/* Global */

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.lrg-photo {
  width: 60%;
  padding: 2rem 1.5rem;
  display: inline-block;
}

main, .exhibit, footer {
  display: flex;
}

.lrg-photo img {
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
}

.lrg-img {
  margin: 0 1.5rem;
  width: 60%;
  height: auto;
}


/* Header */

header {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

header img {
  height: 2rem;
}

header h1 {
  display: inline-block;
  font-size: 1.5rem;
  color: #373737;
  font-weight: 600;
}

header h1 span {
  opacity: 0.5;
  font-weight: 300;
}

nav {
  margin-right: 1.5rem;
}

nav ul li {
  display: inline-block;
  margin-left: 1rem;
}

nav ul li a, footer ul li a {
  color: black;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover {
  opacity: 0.5;
}
/* Banner */

.banner {
  display: flex;
  align-items: center;
  background-color: grey;
}

.btn {
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
}

.lrg-photo h1 {
  text-align: left;
}

/* Main */

.lrg-photo h1 {
  margin-bottom: 1.5rem;
}

.caption {
  margin-top: 2rem;
}

.main-right {
  width: 35%;
  margin-top: 1rem;
}

.gray {
  background-color: gray;
}

.info-container {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.info-container h2, .info-container p{
  margin-bottom: 0.5rem;
}

.info-container img {
  width: 35%;
  height: auto;
  margin-right: 1rem;
}

.info {
  margin: 0 auto;
  width: 11rem;
}

/* Start Learning */

.start-learning {
  padding: 2rem 3.5rem 1rem 3.5rem;
  background-color: grey;
}


.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-typo-photo {
  background-color: white;
  margin: 0 1rem 2rem 1rem;
}

.gallery-info {
  padding: 1rem;
}

.gallery-info p {
  margin: 0.5rem 0;
}
/* Exhibit */
.exhibit .main-right {
  margin-top: 2rem;
}

video {
  width: 100%;
}

/* Footer */
footer {
  justify-content: space-between;
  height: 4rem;
}

footer p {
  margin-left: 1.5rem;
}

footer ul li {
  display: inline-block;
  margin-right: 1rem;
}
